:root{
    --color-grimery:#434455;
    --color-brend:#4D5AE5;
    --color-brend-hover:#404BBF;
    --color-secundery:#2E2F42;
    --color-hero-title-text:#FFF;
    --color-hero-button-text:#FFF;
    --backraund-section-our-team:#F4F4FD;
    --footer-logo:#F4F4FD;
    --footer-text:#F4F4FD;
--backraundcolor-body:#FFFFFF;
}
body{
    color:var(--color-grimery);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color:var(--backraundcolor-body)
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img{display: block;}


 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;

     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }
.container
{
width: 1158px;
margin: 0 auto;
padding: 0 15px
}
/* header */

.header
{
border-bottom: 1px solid #e7e9fc;

}

.header-box
{
display: flex;
align-items: center;

}

.logo-header{
    color: var(--color-brend);
    font-size: 18px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
     text-transform: uppercase;
    margin-right: 76px;
}
.akcent-hrader-logo{
   color: var(--color-secundery); 
}
.nav-header
{
display: flex;
align-items: center;
margin-right: 76px;
}
.nav-menu
{
display: flex;
 align-items: flex-start;
 gap: 40px;

}

.nav-intem
{
padding: 24px 0 ;
}


.header-link{
    color: var(--color-secundery);
    text-decoration: none;
    font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        font-style: normal;
        letter-spacing: 0.02em;
        padding: 24px 0;
        
}
.header-link:hover,.header-link:focus{
    color: var(--color-brend-hover);
}
.contacts-link{ color: var(--color-grimery);
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;

}
.contacts-link:hover,.contacts-link:focus{color: var(--color-brend-hover);
    
}
.header-adress
{

}
.header-adress-menu{
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 24px 0;
   

}
.header-adress-item{

}
/* herro-section */
.hero-section{
    background-color: var(--color-secundery);
    padding: 188px 0;
}

.hero-title{
    color:var(--color-hero-title-text);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin: auto;
    max-width: 496px
    
}
.box-herro-title
{
width: 496px;
height: 120px;

}
.hero-button{
    background-color:var(--color-brend);
    color: var(--color-hero-button-text);
    border: none;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
    margin-top: 48px;

}
.hero-button:hover,.hero-button:focus{
background-color: var(--color-brend-hover);
}
/* advatages section */
.advantages-section
{
padding: 120px 0;

}

.box-advantages
{


}
.advantages-title{
    color: var(--color-secundery);
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;

}
.advantages-list
{
display: flex;
gap: 24px;
}
.advantages-item
{
width: calc((100% - 72px) / 4);

}

.text-advantages{
    color: var(--color-grimery);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* our-team-sections */
.our-team-sections{
    background-color: var(--backraund-section-our-team);
    padding: 120px 0;
     display: flex;

}

.box-team{
   
   
}
.title-sections{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-secundery);
    margin-bottom: 72px;

    
}

.our-team-list
{

gap: 24px;
width: calc((100% - 72px) / 4);
align-items: center;

}

.team-img
{

}
.baskgraund-person{
    background-color:var(--color-hero-title-text);
    border-radius: 0px 0px 4px 4px;
    
}
   .boxname-and-profesion {
    padding: 32px 0;

   }
.name-employees{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-secundery);
    text-align: center;
    margin-bottom: 8px;
}

.profetion{
    
    color: var(--color-grimery);
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
/* portfolio */


.portfolio-section
{

}

.portfolio-list
{

}

.portfolio-item
{

}

.portfolio-img
{

}
.servises{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-secundery);
}
.activity{
    line-height: 24px;
    letter-spacing: 0.02em;
}
/* footer */
.footer-sections{
    background-color: var(--color-secundery);
}
.footer-logo{
color:var(--color-brend);
text-decoration: none;
font-family: 'Raleway',sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 21px;
text-transform: uppercase;
line-height: 1.17;
letter-spacing: 0.03em;
}
.footer-logo-akcent{
color: var(--backraund-section-our-team)

}
.footer-text{
    color: var(--footer-text);
    line-height: 24px;
    letter-spacing: 0.02em;

}